@import "./utils/vars";
@import "./base/null-style";
@import "./base/base-style";
@import "./utils/placeholder";
@import "./components/header";
@import "./components/logo";
@import "./components/portfolio";
@import "./components/decision";
@import "./components/backdrop";
@import "./components/form-modal";
@import "./utils/visually-hidden";
@import "./components/advantages";
@import "./components/doing";
@import "./components/team";
@import "./components/social-team";
@import "./components/client";
@import "./components/footer";
