.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.1);
	opacity: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	max-width: 528px;
	width: 100%;
	height: 581px;

	background-color: var(--white-color-text);

	transform: translate(-50%, -50%) scale(1);

	opacity: 1;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&__button {
		position: absolute;
		top: 8px;
		right: 8px;
		padding: 0;
		margin: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 30px;
		height: 30px;

		border-radius: 50%;
		background-color: var(--white-color-text);
		border: 1px solid rgba(0, 0, 0, 0.1);

		transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

		cursor: pointer;

		&:hover svg {
			fill: var(--accent-color);
		}
	}
}
