.logo {
	font-family: var(--ff-Raleway);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--black-color-text);
	text-decoration: none;

	&__header {
		margin-right: 93px;
	}

	&__footer {
		display: block;
		margin-bottom: 20px;

		color: var(--white-color-text);
	}

	&__accent {
		color: var(--accent-color);
	}
}
