.social {
	padding: 0 32px 30px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	&__item {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: 44px;
		height: 44px;
		border-radius: 50%;
		fill: var(--social-link-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
		
		&:hover {
			background-color: var(--accent-color);
			fill: var(--white-color-text);
		}
	}
}
