.team {
	background-color: var(--button-bg-color);
	&__title {
		margin-bottom: 30px;
	}

	&__item {
		max-width: 450px;
		width: 100%;
		background-color: var(--white-color-text);
		box-shadow: var(--team-item-shadow);
		border-radius: 0px 0px 4px 4px;
		&:not(:last-child) {
			margin-bottom: var(--margin-li-item);
		}
	}

	&__content {
		padding: 30px 15px 16px 15px;
		text-align: center;
	}

	&__subtitle {
		margin-bottom: 10px;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.18;
		letter-spacing: 0.03em;
		color: var(--secondary-color-text);
	}

	&__text {
		font-size: 16px;
		line-height: 1.18;
		letter-spacing: 0.03em;
	}

	@media screen and (min-width: 768px) {
		&__list {
			display: flex;
			flex-wrap: wrap;

			gap: 30px;
		}
		&__item {
			max-width: 354px;
			flex: 0 1 50%;
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}

	@media screen and (min-width: 1200px) {
		&__item {
			max-width: 270px;
			flex: 0 1 25%;
		}
	}
}
