h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: var(--ff-Roboto);
	color: var(--main-color-text);
	margin: 0;
	padding: 0;
	font-size: 14px;
}
